.idea
.vscode
node_modules
jspm_packages
typings
npm-debug.log
debug.log
src/**/*.js
*.js.map
!src/systemjs.config.js
mobile/www/main*
mobile/www/lib
mobile/www/app
mobile/www/resources/css
mobile/platforms/*
mobile/plugins/*/