# Dependencies
node_modules
package-lock.json

# Tests
coverage
.nyc_output

# Build
typings
*.js.map

# Cordova
cordova/www
cordova/hooks/*
cordova/platforms/*
cordova/plugins/*

# Misc
.DS_Store
.env
.idea
.vscode
npm-debug.log*
